@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;600&display=swap");

/* Generic Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --bg-darker: darkgray;
  --primary-color: #7377bf;
  --secondary-color: #81c98f;
  --tertiary-color: rgb(255, 165, 0);
  --border-color: #4d4c72;
  --light-border: #f5f5f5;
  --text-color: #7f7f7f;
  --link-color: rgb(86, 204, 86);
}

li {
  list-style: none;
}

.activity,
.message,
.members,
.settings {
  border-top: 1px solid var(--light-border);
  padding-top: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Recursive", sans-serif;
  overflow-x: hidden;
  text-align: left;
}

/* Header styling */

header {
  background-color: var(--primary-color);
  color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  padding: 0 0.5rem;
}

.icon {
  margin-left: auto;
  margin-right: 0.5rem;
}

.bell {
  width: 1.5rem;
  fill: var(--bg-color);
  transition: fill 0.2s ease-in;
}
.bell:hover {
  cursor: pointer;
  fill: var(--tertiary-color);
}

.dot {
  background-color: var(--tertiary-color);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.app {
  font-weight: 300;
}

sup {
  font-weight: 300;
  font-size: 0.5rem;
}

.me {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-line {
  color: var(--tertiary-color);
}

.main-header-search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color: var(--light-border);
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}
/* Alert */
.alert {
  max-height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

.alert-banner {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

.alert-banner-close {
  margin-left: auto;
  margin-right: 0.7rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.search {
  flex-grow: 1;
  max-width: 60%;
  padding: 0.2rem 0.7rem;
}

#pop li {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

/* Navbar */
.side-bar {
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.side-bar a {
  margin-right: 1.5rem;
}

.nav-img {
  width: 2rem;
}

.traffic-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}
.traffic-nav-link {
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease-in-out;
}

.traffic-nav-link:hover {
  color: var(--bg-color);
  background: var(--link-color);
  border-radius: 0.6rem;
  cursor: pointer;
}

.traffic-nav li {
  margin-left: 1rem;
}

.daily,
.mobile {
  border-top: 2px solid var(--light-border);
  border-bottom: 2px solid var(--light-border);
  padding: 2rem 1rem;
}

.traffic,
.daily,
.mobile {
  margin: 2.5rem 0;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.daily h3,
.mobile h3 {
  margin-bottom: 2rem;
}

.members h3,
.activity h3,
.message h3,
.settings h3 {
  color: var(--tertiary-color);
  text-transform: uppercase;
}

/* section GRID */
.container-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  padding: 0 1rem;
  display: grid;
  margin: 0 auto;
}
/* ​ line graph charts  */
.widget-container-full,
.widget-container-half {
  width: 85vw;
}

/* Social Icon */
.social-stats {
  margin-bottom: 1rem;
  text-align: left;
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.social {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.social-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--light-border);
  border: 1px solid var(--text-color);
  margin-bottom: 1rem;
}

.social-image {
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.social-text {
  margin-left: 0.5rem;
}

.social-text p:nth-of-type(1) {
  color: var(--primary-color);
}

.social-text p:nth-of-type(2) {
  color: var(--tertiary-color);
  font-weight: 600;
}
.twitter,
.facebook,
.google {
  width: 2rem;
  fill: var(--bg-color);
  transition: fill 0.2s ease-in;
  position: relative;
  left: 1rem;
  top: 1rem;
}

.twitter:hover,
.facebook:hover,
.google:hover {
  fill: var(--border-color);
}

/* Members Widget */
.container-members {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 0.5rem;
}
.container-members:last-child {
  border-bottom: none;
}

.members-text {
  margin-right: auto;
}

.profile-image {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/* Activities */
.form-field,
.form-area {
  display: block;
  margin-bottom: 1rem;
  width: 90%;
  padding: 1rem;
}

.form-area {
  height: 5rem;
}

.button-primary {
  padding: 0.7rem 1.5rem;
  width: 90%;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.4s ease-in;
}

.button-primary:hover {
  opacity: 0.9;
}

.activity {
  margin-top: 2rem;
}

.settings {
  width: 100%;
  margin: 0 auto;
}

.settings h3 {
  margin-bottom: 1rem;
}

.btn-1 {
  margin-bottom: 1rem;
}

.btn-1 span,
.btn-2 span {
  width: 5rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* Timezone Save Cancel */
.form-field {
  margin-top: 1rem;
}

.btn-save,
.btn-cancel {
  padding: 0.7rem 1.5rem;
  width: 25%;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-transform: uppercase;
  border: none;
  transition: opacity 0.4s ease-in;
  cursor: pointer;
  display: inline-block;
}

.btn-cancel {
  background-color: var(--text-color);
  opacity: 0.7;
}

.btn-save:hover,
.btn-cancel:hover {
  opacity: 0.9;
}

.settings-button {
  margin-bottom: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .container-grid {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  header {
    padding: 0 2rem;
  }

  .side-bar {
    flex-direction: column;
    justify-content: flex-start;
  }

  .side-bar a {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  main {
    grid-template-columns: 50%;
  }

  .social {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-text p:nth-of-type(2) {
    font-size: 2rem;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .social-container {
    margin-right: 8rem;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-row: 5 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .settings {
    grid-row: 11 / span 1;
  }

  .container-members p:last-child {
    margin-right: 2rem;
  }

  .switch-light {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .activity {
    margin-top: 0;
  }

  .widget-container-full {
    width: 85vw;
  }

  .widget-container-half {
    width: 40vw;
  }

  .btn-save,
  .btn-cancel {
    width: 45%;
  }

  .btn-1 strong,
  .btn-2 strong {
    margin-right: auto;
  }
  .settings-btn {
    max-width: 520px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0 4rem;
  }

  .traffic h3,
  .daily h3,
  .mobile h3,
  .social-stats,
  .members h3,
  .activity h3,
  .message h3,
  .settings h3 {
    font-size: 1.3rem;
  }
}
